$cl-a-evenrow: lightpink;
$cl-a-oddrow: lightsteelblue;
$cl-b-evenrow: lightpink;
$cl-b-oddrow: lightsteelblue;
$cl-c-evenrow: lightpink;
$cl-c-oddrow: lightsteelblue;

$tbl-border:blue;
$tbl-caption:rgb(151, 151, 209);
$tbl-background: #fff; //rgb(223, 223, 247);
$tbl-hdr-background: #dedede;
$tbl-link: #008cba;
$brk-md: 500px;
$brk-lg: 760px;
$brk-xl: 1000px;
$border-radius: 4px;
$gray: #ccc;

//BASIC TABLE STYLING
//row highlighting classes
// .cl-highlight-light{background-color: #fafafa;}
// .cl-highlight-medium{background-color: #bdbbbb;}
// .cl-highlight-dark{background-color: #5b6063; color: $white2;}
.cl-highlight-green{background-color: #68ed7e;}
.cl-highlight-yellow{ background-color: #f2fa19;}
.cl-highlight-alert{ background-color: #f78b1e; }



//odd-even-colors for the 3 themes
.cl-a-even{background-color: transparentize($cl-a-evenrow, .6);}
.cl-a-odd{background-color: transparentize($cl-a-oddrow, .6);}

.cl-a-even-hover :hover{background-color: transparentize($cl-a-evenrow, .6);}
.cl-a-odd-hover:hover{background-color: transparentize($cl-a-oddrow, .6);}

// .cl-b-even{background-color: transparentize($cl-b-evenrow, .6);}
// .cl-b-odd{background-color: transparentize($cl-b-oddrow, .6);}

// .cl-b-even-hover:hover{background-color: transparentize($cl-b-evenrow, .6);}
// .cl-b-odd-hover:hover{background-color: transparentize($cl-b-oddrow, .6);}

// .cl-c-even{background-color: transparentize($cl-c-evenrow, .6);}
// .cl-c-odd{background-color: transparentize($cl-c-oddrow, .6);}

// .cl-c-even-hover:hover{background-color: transparentize($cl-c-evenrow, .6);}
// .cl-c-odd-hover:hover{background-color: transparentize($cl-c-oddrow, .6);}
// .cl-tbl-border{
//     border: solid .5px #ccc;
// }

.cl-table-basic{
        // border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border: solid .1em $lgray;
    // border-color: $lgrayy;
    caption{ font-weight: bold; padding: .5em 0;}
    thead{
        border-top: solid .1em $blue2;
        border-bottom: solid .1em $blue2;
        tr{ 
            padding: 1em .5em;
            th{ padding: .4em;}
        }
    }
    tbody{
        tr{padding: 1.5em;
            td{ padding: .8em .3em;}
        }
    }
}


// table styling for fully loaded styling with theme basic - a
.cl-table {
	background-color: $tbl-background;
    border-collapse: collapse;
    border-spacing:0;
    width: 95%;
	float: left;
	margin: 0 2% 2em;
	caption{
		text-align: left;
		padding: .5em .5em;
		// padding-bottom: 5px;
		color: $tbl-caption;
		display: table-header-group; //to ensure captions displayed above thead and did not wrap
	  }
    thead {
		border-bottom: .1em solid $tbl-border;
        background-color: $tbl-hdr-background;
        tr{
            padding: 0 1em;}
        th {
            padding: 0.35em 0 .35em;
            font-weight: 400;
            text-align: left;
            font-size: 1.25em;
            vertical-align: -webkit-baseline-middle;
            vertical-align: middle;
        }        
    }

    tbody {
        tr {
            padding: 0 1em;
            box-shadow: 0px 2px 5px 0px $gray;
			&:nth-child(odd){
                background-color: transparentize($cl-a-oddrow, .7);
                    &:hover{
                        background-color: opacify($cl-a-oddrow, .3);
                    }
                }             
			&:nth-child(even){
                background-color: transparentize($cl-a-evenrow, .7);
                    &:hover{
                        background-color: opacify($cl-a-evenrow, .3);
                    }
                }  
            td {
                padding: .75em .5em;
                a {
                    color: $tbl-link;
                    text-decoration: none;
                    display: inline-block;
                    margin: 0 .5em 0 0;
                    &:hover, &:active, &:focus {
                        color: darken($tbl-link, 10%);
                        border: none;
                    }
                }
            }
        }
    }

    tfoot {
        td {
            padding: 0.35em .35em .35em 1.5em;
            text-align: left;
            font-size: 1.25em;
        }
    }
}

///RWD MIXIN BELOW
@mixin rwd-first {
    display: block;
    tbody {
        border: none;
    }
    tbody, th, td, tr, tfoot {  display: block; }
    thead { display: none;  }
    tr {
        float: left;
        width: 100%;
        margin: 0 0 1em;
        border: 1px solid $gray;
        border-bottom: solid 1px #fff;
        box-shadow: 0px 2px 5px 0px $gray;
        border-radius: $border-radius;
        border-top: 1px solid $tbl-border;
        td {
            padding: .5em .5em .5em 50%; //left padding 50% to allow space for headings
            float:left;
            width: 100%;
            &:before {
                    width: 50%;
                    display: block;
                    float: left;
                    padding: 0 .5em 0 1.5em;
                    clear: both;
                    // margin: -.5em 0 0 -100%;
                    font-size: 1.125em;
                }
            }
        }
}

@mixin rwd-restore {
    display: table;
    border: none;
    tbody {
        border-bottom: 1px solid $gray;
    }
    tbody, tfoot {  display: table-row-group; }
    th, td {  display: table-cell; }
    thead { display: table-header-group;  }
    tr {
        display: table-row;
        border: none;
        float: none;
        width: 100%;
        margin: 0;
        box-shadow: 0px 2px 5px 0px $gray;
        // border-radius: $border-radius;
        // border-top: 1px solid $tbl-border;
        td {
            padding: .75em 0 0.75em .25em; // remove left padding 50% allowed for headings
            float:none;
            width: auto;
            &:before {
                padding: 0 !important;
                content:"";
                width: 0%;
                }
            }
        }
}

.cl-res-table-sm{
    @media screen and(max-width: $breakpoint-sm){
        @include rwd-first;
        td:nth-of-type(1):before {content: "Heading Col1"; }
        td:nth-of-type(2):before {content: "Heading Col2"; }
        td:nth-of-type(3):before {content: "Heading Col3"; }

    }
    @media screen and(min-width: $breakpoint-sm){
        @include rwd-restore;
    }
}
.cl-res-table-md{
    @media screen and(max-width: $breakpoint-md){
        @include rwd-first;
        td:nth-of-type(1):before {content: "Heading Col1"; }
        td:nth-of-type(2):before {content: "Heading Col2"; }
        td:nth-of-type(3):before {content: "Heading Col3"; }
        td:nth-of-type(4):before {content: "Heading Col4"; }
    }
    @media screen and(min-width: $breakpoint-md){
        @include rwd-restore;
    }    
}
.cl-res-table-lg{
    @media screen and(max-width: $breakpoint-lg){
        @include rwd-first;
        td:nth-of-type(1):before {content: "Heading Col1"; }
        td:nth-of-type(2):before {content: "Heading Col2"; }
        td:nth-of-type(3):before {content: "Heading Col3"; }
        td:nth-of-type(4):before {content: "Heading Col4"; }
        td:nth-of-type(5):before {content: "Heading Col5"; }
        td:nth-of-type(6):before {content: "Heading Col6"; }
        td:nth-of-type(7):before {content: "Heading Col7"; }
        td:nth-of-type(8):before {content: "Heading Col8"; }
    }
    @media screen and(min-width: $breakpoint-lg){
        @include rwd-restore;
    }
}