$color-even-cells: lightpink;
$color-odd-cells: lightsteelblue;
$tbl-border:blue;
$tbl-caption:rgb(151, 151, 209);
$tbl-background: #fff; //rgb(223, 223, 247);
$tbl-hdr-background: #dedede;
$tbl-link: #008cba;
$brk-md: 500px;
$brk-lg: 760px;
$brk-xl: 1000px;
$border-radius: 4px;

//BASIC TABLE STYLING
table {
	background-color: $tbl-background;
    border-collapse: collapse;
    width: 95%;
	float: left;
	margin: 0 2% 2em;
	caption{
		text-align: left;
		padding-bottom: 5px;
		color: $tbl-caption;
		display: table-header-group; //to ensure captions displayed above thead and did not wrap
	  }
    thead {
		border-bottom: .2rem solid $tbl-border;
		background-color: $tbl-hdr-background;
        th {
            padding: 0.35em 0 .35em;
            font-weight: 400;
            text-align: left;
            font-size: 1.25em;
            vertical-align: -webkit-baseline-middle;
            vertical-align: middle;
        }        
    }

    tbody {
        tr {
			&:nth-child(odd){
                background-color: transparentize($color-odd-cells, .7);
                    &:hover{
                        background-color: opacify($color-odd-cells, .3);
                    }
                }             
			&:nth-child(even){
                background-color: transparentize($color-even-cells, .7);
                    &:hover{
                        background-color: opacify($color-even-cells, .3);
                    }
                }  
            td {
                padding: .75em 0;
                a {
                    color: $tbl-link;
                    text-decoration: none;
                    display: inline-block;
                    margin: 0 .5em 0 0;
                    &:hover, &:active, &:focus {
                        color: darken($tbl-link, 10%);
                        border: none;
                    }
                }
            }
        }
    }

    tfoot {
        td {
            padding: 0.35em 0 .35em;
            text-align: left;
            font-size: 1.25em;
        }
    }
}

///RWD MIXIN BELOW
@mixin rwd-first {
    display: block;
    tbody {
        border: none;
    }
    tbody, th, td, tr, tfoot {  display: block; }
    thead { display: none;  }
    tr {
        float: left;
        width: 100%;
        margin: 0 0 1em;
        border: 1px solid $gray;
        box-shadow: 0px 2px 5px 0px $gray;
        border-radius: $border-radius;
        border-top: 5px solid $tbl-border;
        td {
            padding: .5em .5em .5em 50%; //left padding 50% to allow space for headings
            float:left;
            width: 100%;
            &:before {
                    width: 100%;
                    display: block;
                    float: left;
                    padding: .5em .5em .5em 0;
                    clear: both;
                    margin: -.5em 0 0 -100%;
                    font-size: 1.125em;
                }
            }
        }
}

@mixin rwd-second {
    display: table;
    border: none;
    tbody {
    border-bottom: .2rem solid $tbl-border;
     }
    th, td {
        display: table-cell; 
    }
    tr {
        display: table-row;
        border: none;
        border-bottom: 1px solid #eee;
        float: none;
        margin: 0;
        box-shadow: none;
        td {
            padding: .75em 0 0.75em .25em;
            float: none;
            width: auto;
            &:before {
                padding: 0 !important;
            }
        }
    }
    thead {
        display: table-header-group;
    }
    tbody,tfoot {
        display: table-row-group;
    }
}
%responsive-tables {
    @include rwd-first;
    @media screen and (min-width: $brk-md) { 
        @include rwd-second;        
    }
}
%responsive-tables-md {
    @include rwd-first;
    @media screen and (min-width: $brk-lg) { 
        @include rwd-second;        
    }
}
%responsive-tables-large {
    @include rwd-first;
    @media screen and (min-width: $brk-xl) { 
        @include rwd-second;        
    }
}
@mixin responsive-tables($headings...) {
    $list: $headings;
    @each $list-headings in $list {
        $i: index($list, $list-headings);
        tbody tr td:nth-of-type(#{$i}):before { 
            content: $list-headings; 
        }
            @media screen and (min-width: $brk-md) { 
            tbody tr td:nth-of-type(#{$i}):before { 
                content: ''; 
            }
        }
    }
}
@mixin responsive-tables-md($headings...) {
    $list: $headings;

    @each $list-headings in $list {
        $i: index($list, $list-headings);
        tbody tr td:nth-of-type(#{$i}):before { 
            content: $list-headings; 
        }
        
        @media screen and (min-width: $brk-lg) { 
            tbody tr td:nth-of-type(#{$i}):before { 
                content: ''; 
            }
        }

    }
}
@mixin responsive-tables-large($headings...) {
    $list: $headings;

    @each $list-headings in $list {
        $i: index($list, $list-headings);
        tbody tr td:nth-of-type(#{$i}):before { 
            content: $list-headings; 
        }
        
        @media screen and (min-width: $brk-xl) { 
            tbody tr td:nth-of-type(#{$i}):before { 
                content: ''; 
            }
        }

    }
}

.cl-rwd-table{
	@extend %responsive-tables;
	@include responsive-tables('Heading Col 1', 'Heading Col 2', 'Heading Col 3');
}

.cl-rwd-table-md {
	@extend %responsive-tables-md;
	@include responsive-tables-md('Heading Col 1', 'Heading Col 2', 'Heading Col 3', 'Heading Col 4');
}

.cl-rwd-table-large {
	@extend %responsive-tables-large;
	@include responsive-tables-large('Heading Col 1', 'Heading Col 2', 'Heading Col 3','Heading Col 4','Heading Col 5','Heading Col 6','Heading Col 7','Heading Col 8');
}