// styles for header
// h1, .cl-h1{

// }


.cl-theme-med{
    background-color: red;


}

.cl-theme-bright{
    background: yellow;
}

.cl-theme-drk{
    background-color: yellowgreen;
}


// &div {
//     border: solid 3px black;
//     margin-left: 2rem;
//     width: 500px;
//     height: 500px;
// }
// &div ul{
//     display: inline;
// }