/*
$color1: #372f30 ; //background to classes header nav ul li lineinfo
$color2: whitesmoke; //.article12 bgcolor
$color3: #d3cbcb;
*/
// <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet"> 

// theme1 colors  
$white: #fff;// rgb(255, 255, 255)
$lblue: #dfebf0; //rgb(223, 235, 240)
$lgray: #c2c2c2; //rgb(194, 194, 194)
$mgray: #656666; //rgb(101, 102, 102)
$dgray: #1e1f1f; // rgb(30, 31, 31)
$lblue1: #64d1d1; //rgb(100, 209, 209)
$blue2: #1d305c; //rgb(29, 48, 92)
$font-family1: 'Lato', sans-serif;
$font-family2: 'Open Sans', sans-serif;
$font-family-sans-serif: 'Lato','Open Sans', sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

