$white: #fff;
$black: #000;
$teal: teal;
$gray: #ccc;




$background-html: #fff;
// $background-body: $white;
$background-body: #ccc;


//table
// $color-even-cells: lightpink;
// $color-odd-cells: lightsteelblue;
// $table-border: red;
// $table-caption:lavender;

//maybe set these to inherit from browser
$font-family: inherit;
$font-family-body: inherit;
$text-color-default: green;

$breakpoint-xs: 400px;
$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
