$white: #fff;
$black: #000;
$teal: teal;




$background-html: #222;
// $background-body: $white;
$background-body: #ccc;

//maybe set these to inherit from browser
$font-family: inherit;
$font-family-body: inherit;
$text-color-default: green;

$breakpoint-xs: 400px;
$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
