$white: #fff;
$black: #000;
// $teal: teal;
// $gray: #ccc;

$background-html: #fff;
$background-body: $white;
$background-body: #ccc;

//color variables for table

$color-even-cells: lightpink;
$color-odd-cells: lightsteelblue;
$tbl-border:blue;
$tbl-caption:rgb(151, 151, 209);
$tbl-background: #fff; //rgb(223, 223, 247);
$tbl-hdr-background: #dedede;
$tbl-link: #008cba;
// $brk-md: 500px;
// $brk-lg: 760px;
// $brk-xl: 1000px;
$border-radius: 4px;

//maybe set these to inherit from browser
$font-family: inherit;
$font-family-body: inherit;
$text-color-default: $black;

$button-background: #dedede;
$button-border: #ccc;

$breakpoint-xs: 420px;
$breakpoint-xsm: 500px; //used only for tables
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
$code:   #e61212;

// theme1 colors  

$white2: #f7f7f7;// rgb(247, 247, 247)* header,footer color
$lblue:  #e1ecf0; //rgb(225, 236, 240)*
$lgray:  #c2c2c2; //rgb(194, 194, 194)
$mgray:  #656666; //rgb(101, 102, 102)
$dgray:  #1e1f1f; // rgb(30, 31, 31)
// $blue1:  #64d1d1; //rgb(100, 209, 209)
$blue1:  #1d8d8d; //rgb(100, 209, 209)
$blue2:  #1d305c; //rgb(29, 48, 92) *head foot bgcolor, page txt, 
$code:   #e61212; //
$darkred: #8b0000;

// variables for font-family
$a-font-san-serif: Poppins,Lato,'Open Sans', sans-serif;
$a-font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$a-fontwriting: cookie, satisfy, "dancing-script" ,cursive;
$a-font-disp: "balsamiq sans",lobster, serif;

