$bgred: #460909;//rgb(235, 231, 231);//
$darkred: #8b0000;
$white2: #f7f7f7;


html{background-color: $bgred;}
body{
    margin: 0 auto;
    padding: 15px;
    background-color: $white2;
    max-width: 1200px;
    /* font-size: 16px; */
}

section{
    padding: 1.5em 0;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    padding: .5em 0;
}


.wrapper, .wrapper-fluid{
    margin-bottom: 4em;
}

/* remove padding around headings in example display of headings */
.head-ex h1,.head-ex h2,.head-ex h3,.head-ex h4,h5,.head-ex h6,
.head-ex .h1,.head-ex .h2,.head-ex .h3,.head-ex .h4,.head-ex .h5,.head-ex .h6{ padding: 0;}


/* for instruction display */
.ins-list{
    margin: 1.5em 0;
}
.ins-list li{
    list-style-type: circle;
    margin: 0 1em .5em;
    font-size: 105%;
}
/* #tables h4{ margin-bottom: 1em;} */
.note{
    border: solid 1px #1d8d8d;
    background-color: #fff5ee;
    color: #ac5252e7;
    font-size: 1em;
    width: 80%;
    text-align: center;
    margin: .2em auto;
}
/* code{ overflow: auto;} */
pre.cl-code{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 200px;
    width: auto;
    overflow: scroll;
}

.scroll{ overflow: scroll;}
#tabletypes .row{
    justify-content: center;
}

#tabletypes .row .col{
    display: flex;
    justify-content: center;
    padding: 2em 1em;
}

/* ************** start css for jumbotron on index.html  ***************** */ 
.jumbotron h1, .jumbotron h4, .jumbotron p{ color:#fff;}
.cl-btn{
    background-color: darkred;
    color: #f2f2f2;
    margin: .2em 0;
    padding: .5em;

}
#jumbotron h1{
    margin-top: 4%;
    font-size: 5rem;
}
#jumbotron h4{
    margin-top: 2rem;
}
#jumbotron .row{margin-top: 14%; padding-left: 57%;}
.jumbotron-img{  opacity: .8;}
.jumbotron-height{ height: 600px;}
.nav-bg{
     margin: 0 auto;

    }
.nav-bg li{ padding: 2em .5em; font-size: 2em;}
#j-code{ overflow: scroll;}
/* ************** end css for jumbotron on index.html  ***************** */ 
// .tabExamples{margin: 1em auto;}


//background color for code and results
.cl-code-bg{
    background-color: $bgred;
    // margin: 2em auto;
    padding: 2em 1em 4em 1em;
    // width: 80%;

} 